{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Shopping Cart{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'vendor/add_ons/breadcrumbs-and-multistep-indicator/css/style.css' %}">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Success</strong> {{message}}
            </div>
        {% endfor %}
    </div>
</div>

<div class="container-fluid">

    <section style="margin-top: 50px !important; padding-top: 0px !important; background-color: #ffffff">
        <br />
        <div class="row hidden-sm-down">
            <div class="col-12">
                <nav>
                    <ol class="cd-breadcrumb triangle d-flex justify-content-center" style="margin-top: 0px !important; padding-top: 0px !important;">
                        <li class="current"><em>Cart</em></li>
                        <li><em>Check Out</em></li>
                        <li><em>Done</em></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row hidden-md-up">
            <div class="col-12">
                <nav>
                    <ol class="cd-breadcrumb d-flex justify-content-center">
                        <li><em style="font-size: 20px; color:#EB944F !important;">Cart</em></li>
                        <li><em style="font-size: 20px;">Check Out</em></li>
                        <li><em style="font-size: 20px;">Done</em></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row d-flex justify-content-center">

            <div class="col-12 col-md-6">
                <br />
                <form action="" method="POST">
                {{ formset.management_form }}
                {% csrf_token %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Course</th>
                            <th>Price</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if user_cart_items %}
                        
                        {% for item in user_cart_items %}
                        
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{item.title}}</td>
                            <td>${{item.price}}</td>
                            <td class="text-center">
                                <input type="checkbox" name="form-{{forloop.counter0}}-item_checked">
                                <input type="number" class="d-none" name="form-{{forloop.counter0}}-item_id" value="{{item.id}}" readonly>
                                <input type="decimal_local" class="d-none" name="form-{{forloop.counter0}}-item_price" value="{{item.price}}" readonly>
                            </td>
                        </tr>

                        {% endfor %}
                        
                        {% endif %}
                    </tbody>
                </table>
                <hr />
                <div class="d-flex justify-content-end">
                    <ul class="list-unstyled">
                        <li><span style="font-weight: bold; padding-right: 25px; color:#EB944F;" >Items</span> <span class="float-right">{{user_cart.items_total}}&nbsp;</span></li>
                        <li><span style="font-weight: bold; padding-right: 25px; color:#EB944F;">Total</span> <span class="float-right">USD ${{user_cart.cart_total}}&nbsp;</span></li>
                        <li><span style="font-weight: bold; padding-right: 25px; color:#EB944F;"></span> <span class="float-right">ZAR R{{rand_value}}&nbsp;</span></li>
                    </ul>
                </div>
                <div class="btn-group d-flex justify-content-center justify-content-md-end" role="group" aria-label="button grouping">
                    {% if not cart_empty %}
                    <button type="submit" id="submit-form" class="btn btn-primary">Remove Selected&nbsp;&nbsp;<i class="fa fa-trash-o"></i></button>
                    {% else %}
                    <button type="submit" id="submit-form" class="btn btn-primary" disabled>Remove Selected&nbsp;&nbsp;<i class="fa fa-trash-o"></i></button>
                    {% endif %}
                    {% if not cart_empty %}
                    <a href="/checkout/" class="btn btn-primary">Check Out&nbsp;&nbsp;<i class="fa fa-credit-card"></i></a>
                    {% else %}
                    <button href="/checkout/" class="btn btn-primary" disabled>Check Out&nbsp;&nbsp;<i class="fa fa-credit-card"></i></button>
                    {% endif %}
                </div>
            </form>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block scripts%}
<script src="{% static 'vendor/add_ons/breadcrumbs-and-multistep-indicator/js/modernizr.js' %}"></script>
{% endblock %}