{% extends "base.html" %}
{% load staticfiles %}
{% load features %}
{% block title %}{{selected_course.title}}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'vendor/add_ons/multi-level-accordion-menu/css/style.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/add_ons/multi-level-accordion-menu/css/reset.min.css' %}">
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
                <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/course-library/?page=1">
                <span itemprop="name">Course Library</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/course-library/{{category_selected.id}}/{{category_selected.title}}/">
                <span itemprop="name">{{selected_course.category}}</span>
            </a>
            <meta itemprop="position" content="3" />
        </li>
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" aria-current="page">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/course-library/{{selected_course.id}}/{{selected_course.title}}/detail/#main">
                <span>{{selected_course.title}}</span>
            </a>
            <meta itemprop="position" content="4" />
        </li>
    </ol>
</nav>

{% if messages %}
<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Success</strong> {{message}}
            </div>
        {% endfor %}
    </div>
</div>

{% endif %}
<div class="row pt-2">

    <div class="col-12 col-lg-4">
        <div class="card regular-card pl-4">
            <div class="card-block">
                <h2 class="text-muted card-title"><span style="color: rgb(28,78,200);">Course</span><span style="color: rgb(235,148,79);"> Library</span></h2>
            </div>
        </div>
        <ul class="cd-accordion-menu">
        {% for category in categories %}
            <li>
                <a href="/course-library/{{category.id}}/{{category.title}}/" for="group-{{forloop.counter}}">{{category.title}}</a>
            </li>
        {% endfor %}

        </ul> <!-- cd-accordion-menu -->
    </div>
    <div class="col-12 col-lg-8" id="main">
        <div class="card regular-card regular-card-course">
            <div class="card-block">
                <div class="media">
                    <img class="mr-3 img-fluid" height="105" width="85" src="{% static selected_course.course_image|safe %}" alt="Generic placeholder image">
                    <div class="media-body">
                        <h1 class="mt-0" style="color: rgb(235,148,79);">{{selected_course.title}}<br /><small class="text-muted">{{selected_course.category}}</small></h1>
                    </div>
                </div>
                <hr />
                <div class="text-justify">
                    {{selected_course.description | markdown_to_html}}
                </div>
                <div class="card-footer">
                    <p>Course Price: &#36; {{selected_course.price}}</p>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="text" value="{{selected_course.title}}" name="item_title" readonly hidden>
                        <input type="decimal-local" value="{{selected_course.price}}" step="0.01" name="item_price" readonly hidden>
                        {% if user.is_authenticated %}
                            {% if selected_course.id in user_courses or selected_course.id in user_cart_items %}
                                {% if selected_course.id in user_cart_items %}
                                <button type="submit" id="submit-form" class="btn btn-primary float-right" disabled>Added to cart&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></button>
                                {% else %}
                                <button type="submit" id="submit-form" class="btn btn-primary float-right" disabled>In My Courses&nbsp;&nbsp;<i class="fa fa-fw fa-list-alt"></i></button>
                                {% endif %}
                            {% else %}
                            <button type="submit" id="submit-form" class="btn btn-primary float-right">Add to Cart&nbsp;&nbsp;<i class="fa fa-cart-plus"></i></button>
                            {% endif %}
                        {% else %}
                        <button type="submit" class="btn btn-primary float-right" disabled>login to purchase&nbsp;&nbsp;<i class="fa fa-cart-arrow-down"></i></button>
                        {% endif %}
                    </form>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <div class="container-fluid">
            <div class="card regular-card pl-4">
                <div class="card-block">
                    <h2 class="text-muted card-title"><span style="color: rgb(28,78,200);">More From The</span><span class="text-muted"> {{selected_course.category}}</span><span style="color: rgb(235,148,79);"> Category</span></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="row">
        <div class="grid col-12">
            {% for course in courses %}
                {% if course.category == selected_course.category and course.id != selected_course.id %}
                <div class="grid-item page-view" style="padding: 5px;">
                    <img class="img-fluid" src="{% static course.course_image|safe %}" alt="Card image cap">
                    <p style="color: #1C4EC8"><b>{{course.title}}</b></p>
                    <p class="card-text text-muted text-justify">{{course.description|truncatewords:20}}</p>
                    <div class="btn-group" role="group" aria-label="Basic example" style="padding-top: 5px !important;">
                        <a href="/course-library/{{course.id}}/{{course.title}}/detail/#main" class="btn btn-secondary">view <i class="fa fa-eye"></i></a>
                        {% if user.is_authenticated %}
                            {% if course.id in user_courses or course.id in user_cart_items %}
                                {% if course.id in user_cart_items %}
                                <button type="button" class="btn btn-primary" disabled>Added to cart&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></button>
                                {% else %}
                                <button type="button" class="btn btn-primary" disabled>purchased&nbsp;&nbsp;<i class="fa fa-fw fa-list-alt"></i></button>       
                                {% endif %}
                            {% else %}
                            <button type="button" data-price="{{course.price}}" onclick="AddToCart({{course.id}}, {{user.id}});" class="btn btn-secondary addToCart">add to cart <i class="fa fa-cart-plus"></i></button>                    
                            {% endif %}
                        {% else %}
                        <button type="button" class="btn btn-primary float-right" disabled>login to add&nbsp;&nbsp;<i class="fa fa-cart-arrow-down"></i></button>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts%}

<script src="{% static 'vendor/add_ons/multi-level-accordion-menu/js/main.min.js' %}"></script>
<script src="{% static 'vendor/bower_components/masonry-layout/dist/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/bower_components/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/assets/js/course.js' %}"></script>
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Course",
      "name": "{{selected_course.title}}",
      "description": "{{selected_course.description|truncatechars:170}}",
      "provider": {
        "@type": "Organization",
        "name": "Self Study Campus",
        "sameAs": "https://www.selfstudycampus.com"
      }
    }
</script>
{% endblock %}