{% extends "base.html" %}
{% load staticfiles %}
{% load features %}
{% block title %}Course Library{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'vendor/add_ons/multi-level-accordion-menu/css/style.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/add_ons/multi-level-accordion-menu/css/reset.min.css' %}">
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
                <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/course-library/?page=1">
                <span itemprop="name">Course Library</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/course-library/{{category_selected.id}}/{{category_selected.title}}/">
                <span itemprop="name">{{category_selected.title}}</span>
            </a>
            <meta itemprop="position" content="3" />
        </li>
    </ol>
</nav>

{% if messages %}
<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Success</strong> {{message}}
            </div>
        {% endfor %}
    </div>
</div>

{% endif %}
<div class="container-fluid">
<div class="row">
    <div class="col-12">

        <div class="card regular-card regular-card-course">
            <div class="card-block">
                <br />
                <h1 class="hidden-md-up" style="color: rgb(235,148,79);">{{category_selected.title}}<br /><small class="text-muted">{{selected_course.category}}</small></h1>
                <h1 class="display-4 hidden-sm-down" style="color: rgb(235,148,79);">{{category_selected.title}}<br /> <small class="text-muted">{{selected_course.category}}</small></h1>
                <hr />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-4">
            <ul class="cd-accordion-menu">
                {% for category in categories %}
                <li>
                    <a href="/course-library/{{category.id}}/{{category.title}}/" for="group-{{forloop.counter}}">{{category.title}}</a>
                </li>
                {% endfor %}
            </ul> <!-- cd-accordion-menu -->
    </div>
    <div class="col-8">
            <div class="row">
                <div class="grid container col-sm-12">
                {% for course in courses %}
                <div class="grid-item" style="padding: 5px; width: 320px;">
                    <img class="img-fluid" src="{% static course.course_image|safe %}" alt="Card image cap">
                    <p style="color: #1C4EC8"><b>{{course.title}}</b></p>
                    <p class="card-text text-muted">{{course.description|truncatewords:20}}</p>
                    <div class="btn-group" role="group" aria-label="Basic example" style="padding-top: 5px !important;">
                        <a href="/course-library/{{course.id}}/{{course.title}}/detail/" class="btn btn-secondary">view <i class="fa fa-eye"></i></a>
                        {% if course.id in user_courses or course.id in user_cart_items %}
                            {% if course.id in user_cart_items %}
                            <button type="button" class="btn btn-primary" disabled>Added to cart&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></button>
                            {% else %}
                            <button type="button" class="btn btn-primary" disabled>In My Courses&nbsp;&nbsp;<i class="fa fa-fw fa-list-alt"></i></button>       
                            {% endif %}
                        {% else %}
                        <button type="button" data-price="{{course.price}}" onclick="AddToCart({{course.id}}, {{user.id}});" class="btn btn-secondary addToCart">add to cart <i class="fa fa-cart-plus"></i></button>                    
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                </div>
            </div> 
    </div>
</div>

</div>

{% endblock %}

{% block scripts%}

<script src="{% static 'vendor/add_ons/multi-level-accordion-menu/js/main.min.js' %}"></script>
<script src="{% static 'vendor/bower_components/masonry-layout/dist/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/bower_components/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>        
<script src="{% static 'vendor/assets/js/course.js' %}"></script>

{% endblock %}