{% extends "base.html" %}
{% load staticfiles %}
{% load features %}
{% block title %}Course Library{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'vendor/add_ons/multi-level-accordion-menu/css/style.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/add_ons/multi-level-accordion-menu/css/reset.min.css' %}">
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
                <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/course-library/?page=1">
                <span itemprop="name">Course Library</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
    </ol>
</nav>

{% if messages %}
<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Success</strong> {{message}}
            </div>
        {% endfor %}
    </div>
</div>

{% endif %}
<div class="container-fluid">
<div class="row">
    <div class="col-12">

        <div class="card regular-card regular-card-course">
            <div class="card-block">
                <br />
                <h1 class="hidden-md-up" style="color: rgb(235,148,79);">Welcome to The Self Study Campus Course Library<br /><small class="text-muted">{{selected_course.category}}</small></h1>
                <h1 class="display-4 hidden-sm-down" style="color: rgb(235,148,79);">Welcome to The Self Study Campus Course Library<br /> <small class="text-muted">{{selected_course.category}}</small></h1>
                <hr />
                <p>
                    All courses are listed by category.
                    
                    Be sure to read the discription and key points before making a purchase.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-4">
        <ul class="cd-accordion-menu">
            {% for category in categories %}
            <li>
                <a href="/course-library/{{category.id}}/{{category.title}}/" for="group-{{forloop.counter}}">{{category.title}}</a>
            </li>
            {% endfor %}
        </ul> <!-- cd-accordion-menu -->
    </div>
    <div class="col-12 col-lg-8">
            <div class="row">
                <div class="grid container col-sm-12">
                {% for course in courses_on_page %}
                <div class="grid-item page-view" style="padding: 5px;">
                    <img class="img-fluid" src="{% static course.course_image|safe %}" alt="Card image cap">
                    <p style="color: #1C4EC8"><b>{{course.title}}</b></p>
                    <p class="card-text text-muted">{{course.description|truncatewords:20}}</p>
                    <div class="btn-group" role="group" aria-label="Basic example" style="padding-top: 5px !important;">
                        <a href="/course-library/{{course.id}}/{{course.title}}/detail/" class="btn btn-secondary">view <i class="fa fa-eye"></i></a>
                    {% if user.is_authenticated %}
                        {% if course.id in user_courses or course.id in user_cart_items %}
                            {% if course.id in user_cart_items %}
                            <button type="button" class="btn btn-primary" disabled>Added to cart&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></button>
                            {% else %}
                            <button type="button" class="btn btn-primary" disabled>Purchased&nbsp;&nbsp;<i class="fa fa-fw fa-list-alt"></i></button>       
                            {% endif %}
                        {% else %}
                        <button type="button" data-price="{{course.price}}" onclick="AddToCart({{course.id}}, {{user.id}});" class="btn btn-secondary addToCart">add to cart <i class="fa fa-cart-plus"></i></button>                    
                        {% endif %}
                    {% else %}
                    <button type="button" class="btn btn-primary float-right" disabled>login to add&nbsp;&nbsp;<i class="fa fa-cart-arrow-down"></i></button>
                    {% endif %}
                    </div>
                </div>
                {% endfor %}
                </div>
            </div> 
            <br />
            <br />
            <div class="row d-flex">
                <div class="col-12 col-md-8 offset-md-4 justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if page_num.has_previous %}
                                <li class="page-item"><a class="page-link" href="/course-library/?page={{page_num.number|add:-1}}">Previous</a></li>
                                {% else %}
                                <li class="page-item disabled"><a class="page-link" href="/course-library/?page={{page_num.number|add:1}}">Previous</a></li>                                
                                {% endif %}
                                {% for page in paginator.page_range %}
                                {% if page_num.number != forloop.counter %}
                                <li class="page-item"><a class="page-link" href="/course-library/?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                                {% else %}
                                <li class="page-item active"><a class="page-link" href="/course-library/?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_num.has_next %}
                                <li class="page-item"><a class="page-link" href="/course-library/?page={{page_num.number|add:1}}">Next</a></li>
                                {% else %}
                                <li class="page-item disabled"><a class="page-link" href="/course-library/?page={{page_num.number|add:1}}">Next</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                </div>
            </div>
    </div>
</div>
</div>
{% endblock %}

{% block scripts%}

<script src="{% static 'vendor/add_ons/multi-level-accordion-menu/js/main.min.js' %}"></script>
<script src="{% static 'vendor/bower_components/masonry-layout/dist/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/bower_components/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>        
<script src="{% static 'vendor/assets/js/course.js' %}"></script>

{% endblock %}