{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags == error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 50px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error</strong> {{message}} <a href="/#register">go back to form</a>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 50px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success</strong> {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<img src="{% static 'vendor/assets/images/laptop-2562325.jpg' %}" class="hidden-md-up img-fluid" >
<div class="img-container hidden-sm-down">
    <img src="{% static 'vendor/assets/images/laptop-2562325.jpg' %}" class="img-fluid">
    <div class="centered card reading-card">
        <div class="card-block">
            <h3>Welcome to Self Study Campus</h3>
            <p>Learn new skills anywhere, anytime.</p>
            <p>We offer you, the ordinary person, learning opportunities at affordable prices through a learning platform that is easy and quick to master.</p>
            <p>Whether you are looking for something in your personal capacity or for your career, we have a course for you.</p>
        </div>
    </div>
</div>

<hr class="hidden-md-up" />

<div class="container hidden-md-up">
    <div class="row">
        <div class="col-12">
            <div class="card reading-card">
                <div class="card-block">
                    <h3>Welcome to Self Study Campus</h3>
                    <p>Learn new skills anywhere, anytime.</p>
                    <p>We offer you, the ordinary person, learning opportunities at affordable prices through a learning platform that is easy and quick to master.</p>
                    <p>Whether you are looking for something in your personal capacity or for your career, we have a course for you.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="hidden-md-up" />
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4" style="margin-bottom: 15px;">
            <div class="card regular-card regular-card-steps">
                <div class="card-block">
                    <h3>Step 1</h3>
                    <hr>
                    <p>Register an account with <b>Self Study Campus</b> and</p>
                    <p>Login with your newly created account.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4" style="margin-bottom: 15px;">
            <div class="card regular-card regular-card-steps">
                <div class="card-block">
                    <h3>Step 2</h3>
                    <hr />
                    <p>Browse our <b>Course Library</b> and find courses to add to your cart.</p>
                    <p>After purchasing your courses you will find login details for our training portal at your <b>My Courses</b> page.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4" style="margin-bottom: 15px;">
            <div class="card regular-card regular-card-steps">
                <div class="card-block">
                    <h3>Step 3</h3>
                    <hr />
                    <p>Once logged into the portal you will be able redeem your courses with the course vouchers available at the <b>My Courses</b> Page.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="hidden-md-up" />
<br />

<div class="img-container">
    <img src="{% static 'vendor/assets/images/laptop-2557571_1920.jpg' %}" class="img-fluid">

    {% if user.is_authenticated %}
    <div class="centered reading-card jumbotron hidden-sm-down">
        <div class="card-block">
            <h4>Feel free to browse our Course Library</h4>
            <h5><a href="/course-library/1/Project Management Fundamentals/detail/" style="color: rgb(235,148,79)">View Course Library</a></h5>
            <hr />
            <h4>Once you have purchased courses you can view your orders and courses at the My Courses page</h4>
            <h5><a href="/account/my-courses/" style="color: rgb(235,148,79)">View My Courses</a></h5>
        </div>
    </div>
    {% else %}
    <div class="centered reading-card jumbotron hidden-lg-up hidden-sm-down">
        <div class="card-block">
            <h4>Register now to start learning</h4>
            <p><a href="/register-account/" style="color: rgb(235,148,79)">Register a new account</a></p>
            <p>Feel free to browse our course library</p>
            <p><a href="/course-library/1/Project Management Fundamentals/detail/" style="color: rgb(235,148,79)">View course library</a></p>
        </div>
    </div>
    {% endif %}

    <hr class="hidden-md-up" />
    <div class="container hidden-md-up">
            <div class="row">
                <div class="col-12">
                    <div class="card reading-card">
                        <div class="card-block">
                            <h4>Register now to start learning</h4>
                            <p><a href="/register-account/" style="color: rgb(235,148,79)">Register a new account</a></p>
                            <p>Feel free to browse our course library</p>
                            <p><a href="/course-library/1/Project Management Fundamentals/detail/" style="color: rgb(235,148,79)">View course library</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if not user.is_authenticated %}

        <div class="right hidden-md-down">
            <div class="card" style="padding: 15px !important;">
                <div class="card-block" id="register">
                    <h4 class="card-title" style="color: rgb(235,148,79)">Register now to start learning</h4>
                    <p style="color: #000000;">Enter your info to register an account. You must register before purchasing courses.</p>
                    <p>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                <p class="text-danger">{{message}}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </p>
                    <div class="d-none">
                        {% for field in form %}
                            {{field}}
                        {% endfor %}
                    </div>
                    <form class="register-form" action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group" id="forFirstName">
                            <label>First Name</label>
                            <input type="text" value="{{form.email_address}}" class="form-control" name="firstName" id="firstName" placeholder="first name" required>
                            <div class='form-control-feedback d-none'>This field can't be less than 2 characters</div>
                        </div>
                        <div class="form-group" id="forLastName">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="last name" required>
                            <div class='form-control-feedback d-none'>This field can't be less than 2 characters</div>                        
                        </div>
                        <div class="form-group" id="forEmail">
                            <label>Email Address</label>
                            <input type="email" class="form-control" name="emailAddress" id="emailAddress" placeholder="email address" required>
                            <div class='form-control-feedback d-none'>This email address is not valid</div>
                        </div>
                        <div class="form-group" id="forPassword">
                            <label>Create Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="create password" required>
                            <div class='form-control-feedback d-none'>
                                <ul>
                                    <li>Your password must be atleast 8 characters</li>
                                    <li>Contain at least 1 lower case and 1 uppercase character</li>
                                    <li>And one special character eg. '?=.[!@#\$%\^&]'</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group" id="forConfirmPassword">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="confirm password" required>
                            <div class='form-control-feedback d-none'>Your passwords don't match</div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary" id="submitBtn">Register Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
</div>

{% endblock %}

{% block scripts%}
{% if not user.is_authenticated %}
<script src="{% static 'vendor/assets/js/register-form-validate.min.js' %}"></script>
{% endif %}
{% endblock %}