{% extends "base.html" %}
{% load staticfiles %}
{% load features %}
{% block title %}Self Study Campus{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'vendor/bower_components/swiper/dist/css/swiper.min.css' %}">
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
                <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
    </ol>
</nav>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error</strong> {{message}} <a href="/#register">go back to form</a>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success</strong> {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<img src="{% static 'vendor/assets/images/laptop-2562325.jpg' %}" alt="man-studying" class="hidden-lg-up img-fluid" >
<div class="img-container hidden-md-down">
    <img src="{% static 'vendor/assets/images/laptop-2562325.jpg' %}" alt="man-studying" class="img-fluid">
    <div class="centered card reading-card" style="margin-top: 50px !important;">
        <div class="card-block">
            <h1>Welcome to Self Study Campus</h1>
            <p>Learn new skills anywhere, anytime.</p>
            <p>We offer you, the ordinary person, learning opportunities at affordable prices through a learning platform that is easy and quick to master.</p>
            <p>Whether you are looking for something in your personal capacity or for your career, we have a course for you.</p>
        </div>
    </div>
</div>

<hr class="hidden-lg-up" />

<div class="container hidden-lg-up">
    <div class="row">
        <div class="col-12">
            <div class="card reading-card">
                <div class="card-block">
                    <h1>Welcome to Self Study Campus</h1>
                    <p>Learn new skills anywhere, anytime.</p>
                    <p>We offer you, the ordinary person, learning opportunities at affordable prices through a learning platform that is easy and quick to master.</p>
                    <p>Whether you are looking for something in your personal capacity or for your career, we have a course for you.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <h3 style="padding-left: 10px; color:#EB944F">A Few Courses From Our <a href="/course-library/?page=1" style="color:#1C4EC8">Course Library</a></h3>
    </div>
</div>
<!-- swiper -->
<br />
<div class="swiper-container">
    <div class="swiper-wrapper">
        {% for course in courses %}
        <div class="swiper-slide h-100">
            <div class="card regular-card h-100 w-100 swiper-slide-card">
                <div class="card-img-top">
                    <img class="img-fluid mx-auto d-block w-100" src="{% static 'images' %}{{course.course_image_main|safe|cut_image}}" alt="Card image cap">
                </div>
                <div class="card-block d-flex flex-column h-100" style="padding: 5px;">
                <p class="card-text text-left" style="color: #1C4EC8"><a href="/course-library/{{course.id}}/{{course.title}}/detail/">{{course.title|truncatewords:5}}</a><br /> <small class="text-muted">{{course.category}}</small></p>
                <p class="d-flex mt-auto justify-content-end align-items-end" style="color:#FFFFFF; background-color: #EB944F; padding-right: 10px !important;">${{course.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br />
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next" style="opacity: 0.5 !important;"></div>
    <div class="swiper-button-prev" style="opacity: 0.5 !important;"></div>
</div>

<hr class="hidden-lg-up" />
<br />
<div class="row">
    <div class="col-12">
        <h3 class="text-muted" style="padding-left: 10px;">Getting Started</h3>
    </div>
</div>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4" style="margin-bottom: 15px;">
            <div class="card regular-card regular-card-steps">
                <div class="card-block">
                    <h3>Step 1</h3>
                    <hr>
                    <p>Register an account with <b>Self Study Campus</b> and</p>
                    <p>Login with your newly created account.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4" style="margin-bottom: 15px;">
            <div class="card regular-card regular-card-steps">
                <div class="card-block">
                    <h3>Step 2</h3>
                    <hr />
                    <p>Browse our <b>Course Library</b> and find courses to add to your cart.</p>
                    <p>After purchasing your courses you will find login details for our training portal at your <b>My Courses</b> page.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4" style="margin-bottom: 15px;">
            <div class="card regular-card regular-card-steps">
                <div class="card-block">
                    <h3>Step 3</h3>
                    <hr />
                    <p>Once logged into the portal you will be able redeem your courses with the course vouchers available at the <b>My Courses</b> Page.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="hidden-lg-up" />
<br />

<div class="img-container">
    <img src="{% static 'vendor/assets/images/laptop-2557571_1920.jpg' %}" alt="woman-drinking-coffee-early-morning" class="img-fluid">

    {% if user.is_authenticated %}
    <div class="centered reading-card jumbotron hidden-md-down">
        <div class="card-block">
            <h4>Feel free to browse our Course Library</h4>
            <h5><a href="/course-library/?page=1" style="color: rgb(235,148,79)">View Course Library</a></h5>
            <hr />
            <h4>Once you have purchased courses you can view your orders and courses at the My Courses page</h4>
            <h5><a href="/account/my-courses/" style="color: rgb(235,148,79)">View My Courses</a></h5>
        </div>
    </div>
    {% else %}
    <div class="centered reading-card jumbotron hidden-lg-up hidden-md-down">
        <div class="card-block">
            <h4>Register now to start learning</h4>
            <p><a href="/register-account/" style="color: rgb(235,148,79)">Register a new account</a></p>
            <p>Feel free to browse our course library</p>
            <p><a href="/course-library/?page=1" style="color: rgb(235,148,79)">View course library</a></p>
        </div>
    </div>
    {% endif %}

    <hr class="hidden-lg-up" />
    <div class="container hidden-lg-up">
            <div class="row">
                <div class="col-12">
                    <div class="card reading-card">
                        <div class="card-block">
                            <h4>Register now to start learning</h4>
                            <p><a href="/register-account/" style="color: rgb(235,148,79)">Register a new account</a></p>
                            <p>Feel free to browse our course library</p>
                            <p><a href="/course-library/?page=1" style="color: rgb(235,148,79)">View course library</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if not user.is_authenticated %}

        <div class="right hidden-md-down">
            <div class="card" style="padding: 15px !important;">
                <div class="card-block" id="register">
                    <h4 class="card-title" style="color: rgb(235,148,79)">Register now to start learning</h4>
                    <p style="color: #000000;">Enter your info to register an account. You must register before purchasing courses.</p>
                    <p>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                <p class="text-danger">{{message}}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </p>
                    <div class="d-none">
                        {% for field in form %}
                            {{field}}
                        {% endfor %}
                    </div>
                    <form class="register-form" action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group" id="forFirstName">
                            <label>First Name</label>
                            <input type="text" value="{{form.email_address}}" class="form-control" name="firstName" id="firstName" placeholder="first name" required>
                            <div class='form-control-feedback d-none'>This field can't be less than 2 characters</div>
                        </div>
                        <div class="form-group" id="forLastName">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="last name" required>
                            <div class='form-control-feedback d-none'>This field can't be less than 2 characters</div>
                        </div>
                        <div class="form-group" id="forEmail">
                            <label>Email Address</label>
                            <input type="email" class="form-control" name="emailAddress" id="emailAddress" placeholder="email address" required>
                            <div class='form-control-feedback d-none'>This email address is not valid</div>
                        </div>
                        <div class="form-group" id="forPassword">
                            <label>Create Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="create password" required>
                            <div class='form-control-feedback d-none'>
                                <ul>
                                    <li>Your password must be atleast 8 characters</li>
                                    <li>Contain at least 1 lower case and 1 uppercase character</li>
                                    <li>And one special character eg. '?=.[!@#\$%\^&]'</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group" id="forConfirmPassword">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="confirm password" required>
                            <div class='form-control-feedback d-none'>Your passwords don't match</div>
                        </div>
                        <p style="color: #EB944F">By submitting this form you are in agreement with our <a href="/terms-and-conditions/">T's & C's</a></p>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary" id="submitBtn">Register Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
</div>
<div class="lds-css">
    <div class="lds-spinner" id="loader" style="100%;height:100%"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
</div>

{% endblock %}

{% block scripts%}
{% if not user.is_authenticated %}
<script src="{% static 'vendor/assets/js/register-form-validate.min.js' %}"></script>
{% endif %}
{% endblock %}