{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
                <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" aria-current="page">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/login/">
                <span>Login</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
    </ol>
</nav>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-lg-4">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Error</strong> {{message}}
                </div>
                {% endfor %}
            {% endif %}
            <div class="card" style="padding: 15px !important;">
                <div class="card-block" id="register">
                    <h1 class="card-title" style="color: rgb(235,148,79)">User Login</h1>
                    <form id="submit-form" method="post" action="/login/?next={{next}}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Your Email address</label>
                        <input type='email' class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label>Your Password</label>
                        <input type='password' class="form-control" name="password" placeholder="Enter Password" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control btn btn-primary" type="submit" value="login" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                    </form>
                    <small class="float-right"><a href="/reset-password/">forgot your password?</a></small>
                    <small class="float-left"><a href="/register/">dont have an account?</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lds-css">
    <div class="lds-spinner" id="loader" style="100%;height:100%"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
</div>

{% endblock %}