{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'vendor/add_ons/breadcrumbs-and-multistep-indicator/css/style.css' %}">
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 50px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error</strong> {{message}} <a href="/#register">go back to form</a>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 50px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success</strong> {{message}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="container-fluid">

    <section style="margin-top: 50px !important; padding-top: 0px !important; background-color: #ffffff">
        <br />
        <div class="row hidden-sm-down">
            <div class="col-12">
                <nav>
                    <ol class="cd-breadcrumb triangle d-flex justify-content-center" style="margin-top: 0px !important; padding-top: 0px !important;">
                        <li><em>Cart</em></li>
                        <li><em>Check Out</em></li>
                        <li class="current"><em>Done</em></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row hidden-md-up">
            <div class="col-12">
                <nav>
                    <ol class="cd-breadcrumb d-flex justify-content-center">
                        <li><em style="font-size: 20px;">Cart</em></li>
                        <li class="current"><em>Check Out</em></li>
                        <li><em style="font-size: 20px; font-size: 20px; color:#EB944F !important;">Done</em></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row d-flex justify-content-center">

            <div class="col-12 col-md-6">
                <br />
                <h1>Order Successful <small class="text-muted">Thank you for your purchase!</small></h1>

            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6 blockquote">
                <h3 style="color:#1C4EC8;">Please note</h3>
                <p>If this is your first purchase your account has been registerd to login the course portal</p>
                <p>View your login details and purchased courses at <a href="/account/my-courses">My Courses</a></p>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-12 col-md-6 offset-md-3">
                <h3 style="color: #EB944F">Order Details</h3>
                <hr />
                <p>{{user_order.item_name}}</p>
                <p><b>Payment ID: </b> {{user_order.pf_payment_id}}</p>
                <p><b>Amount in USD: </b>${{usd}}.00</p>
                <p><b>Amount in ZAR: </b>R{{user_order.amount_gross}}</p>
                <p><b>Order Date: </b>{{user_order.payment_date}}</p>
            </div>
        </div>
    </section>

</div>

{% endblock %}

{% block scripts%}
<script src="{% static 'vendor/add_ons/breadcrumbs-and-multistep-indicator/js/modernizr.js' %}"></script>
{% endblock %}