{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Terms And Conditions{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
                <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" aria-current="page">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/terms-and-conditions/">
                <span>Terms And Conditions</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
    </ol>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
                <h1>Terms and Conditions of Use </h1>
                <hr>
                <ol>
                    <li>
                        <b>Introduction</b>
                        <ul>
                            <li>1.1 The Services being offered include, from time to time, offering online courses on various topics. To complete Self Study Campus Courses, you will need to become a registered user.</li>
                            <li>1.2 These SelfStudyCampus Website Terms and Conditions of Use (Terms) are our terms of service that govern our relationship with users and others who interact with or use the Website. Please read these Terms carefully before using the Website.</li>
                            <li>1.3 By using or accessing the Website, or by clicking a box that states you agree to these Terms during the registration process, you acknowledge that you have read and agreed to be bound by and comply with these Terms. You also acknowledge that these Terms constitute a binding agreement between you and us made for good consideration (our provision of the Website and the Services to you in exchange for the rights you grant to us in accordance with these Terms). If you do not agree to be bound by these Terms, please do not access or use the Website.</li>
                            <li>1.4 We may amend the Terms from time to time in our sole discretion. Amendments will be effective immediately on publication on the Website. Your continued use of the Website following amendments to the Terms constitutes your acceptance of the amended Terms.</li>
                            <li>1.5 Registration and participation on the Website is restricted to persons who:
                                <ul>
                                    <li>a) are over 18 years of age; or</li>
                                    <li>b) are over 13 years of age and possess parental or guardian consent to participate on the Website.</li>
                                </ul>
                            </li>
                            <li>1.6 By registering on the Website, or accessing or using the Website, you represent and warrant to us that you are either over 18 years of age or over 13 years of age and possess parental or guardian consent to participate on the Website, and that you have authority to enter into this agreement with us on the Terms. If you are under the age of 13, please do not access or use the Website.</li>
                        </ul>
                    </li>
                    <li>
                        <b>Registration and account security</b>
                        <ul>
                            <li>2.1 In order to access some of the functionality of and information contained on this Website (including the SelfStudyCampus Courses), you will need to become a registered user by setting up a personal account on the Website (Personal Account).</li>
                            <li>2.2 To become a registered user and create a Personal Account, you must complete your registration details in the manner described on the Website. The registration process will require you to provide us with your full name, email address and a password to access your Personal Account.</li>
                            <li>2.3 At registration, you will also be required to select a screen name. Each user will have a unique screen name, which will be the personal identifier displayed on the Website if you, for example, post a comment to a forum or upload content. You acknowledge and agree that, by selecting a screen name, you are allowing everyone on the Website (and possibly people off the Website) to view that screen name and (subject to any privacy controls as may be offered on the Website and that you may select from time to time) the comments and content that you post on the Website using that screen name. We reserve the right to refuse or remove any screen name for any reason (including, for example, if we consider the screen name to be inappropriate, if we receive a complaint about the screen name or if the screen name is already in use).</li>
                            <li>2.4 You must not create a Personal Account for anyone other than yourself without permission. You are only permitted to have one Personal Account, and agree not to create multiple Personal Accounts. You must not misrepresent (or attempt to misrepresent) your identity while using the Website. You must provide complete, current and accurate information to us during the registration process. By submitting a registration, you represent and warrant to us that the information that you are providing to us is complete, current and accurate. You must keep your personal and contact information accurate and up-to-date.</li>
                            <li>2.5 Maintaining the security of your Personal Account is important to us. You agree that you will maintain the confidentiality of your Personal Account (including password), and you will not allow or authorise any other person to use your Personal Account.</li>
                            <li>2.6 You must not access or attempt to access the Personal Account of any other user of the Website.</li>
                            <li>2.7 We reserve the right to terminate your registration at any time if we believe in our sole discretion that you have breached any of these Terms.</li>
                        </ul>
                    </li>
                    <li>
                        <b>SelfStudyCampus Courses</b>
                        <ul>
                            <li>3.1 Certain SelfStudyCampus Courses offered through the Website may have additional eligibility requirements (including minimum age requirements), as specified on the Website. You agree that you will not participate (or continue to participate) in an SelfStudyCampus Course unless you satisfy the eligibility requirements for that course. By participating in an SelfStudyCampus Course, you represent and warrant to us that you satisfy (and at all times will continue to satisfy) the eligibility requirements for that course.</li>
                            <li>3.2 You acknowledge and agree that nothing in these Terms or the offering of SelfStudyCampus Courses to you on the Website (or your participation in those courses):
                                <ul>
                                    <li>a) establishes any relationship between you and any education providers who participate on the Website (Education Providers);</li>
                                    <li>b) enrols or registers you with any Education Provider or in any unit of study, course of study or training offered by an Education Provider outside of the Website; or</li>
                                    <li>c) entitles you to access or use the resources of an Education Provider beyond what is available on the Website.</li>
                                </ul>
                            </li>
                            <li>3.3 You acknowledge that, by offering SelfStudyCampus Courses, we have not and do not make any representation or warranty that completion of an SelfStudyCampus Course will qualify you for any award or qualification other than as specified in term 3.4.</li>
                            <li>3.4 Subject to your satisfactory completion of an SelfStudyCampus Course as determined by us in our sole discretion, you may be awarded a statement acknowledging your completion of the SelfStudyCampus Course (Certificate of Achievement). You acknowledge and agree that a Certificate of Achievement does not convey any academic credit or entitle you to any recognition of prior learning. A Certificate of Achievement is not equivalent to any award or qualification that might be awarded by an Education Provider. The content of a Certificate of Achievement will be determined by us, in our sole discretion, and may change from time to time and from course to course.</li>
                            <li>3.5 We reserve the right to cancel, suspend, reschedule or modify the content of any SelfStudyCampus Course at any time (including during the course) in our sole discretion.</li>
                        </ul>
                    </li>
                    <li>
                        <b>User declarations</b>
                        <ul>
                            <li>4.1 The following section is provided for a clear understanding of the expectations we expect you to meet when using the Website and participating in SelfStudyCampus Courses. You are expected to comply with all requirements set out in this section for the duration of your use of the Website. If we consider that you are not complying with these requirements, we may terminate your registration.</li>
                            <li>4.2 You agree that you will only access and use the Website in accordance with all applicable laws.</li>
                            <li>4.3 You agree to comply with the SelfStudyCampus Code of Ethics.</li>
                            <li>4.4 You agree that you must not use the Website in a manner that:
                                <ul>
                                    <li>a) is contrary to any law or which may encourage a person to act in a way which is contrary to any law;</li>
                                    <li>b) may result in damage to the Website or any property or equipment of ours or our contractors or agents (including by uploading viruses or other harmful code);</li>
                                    <li>c) is disruptive to the learning of others or that may restrict, disrupt or inhibit any other user from using or enjoying the Site;</li>
                                    <li>d) endangers the health or safety of any person; or</li>
                                    <li>e) may cause an interference to any business conducted by us.</li>
                                </ul>
                            </li>
                            <li>4.5 You must not use the Websites or the SelfStudyCampus Courses (or any material we provide to you in connection with an SelfStudyCampus Course) for commercial purposes, financial gain or other gain.</li>
                            <li>4.6 You must obey any lawful instruction that we give you in the course of you using the Website.</li>
                            <li>4.7 You must not collect the content of other users of the Website, or access the Website using automated means.</li>
                            <li>4.8 You must not impersonate any person (including a staff member of us) or hold yourself out as having authority to act on behalf of us.</li>
                        </ul>
                    </li>
                    <li>
                        <b>Intellectual property rights</b>
                        <ul>
                            <li>5.1 Before sharing any content or information on the Website, please ensure that you have the right to do so. You must not use or reproduce any material which is protected by intellectual property rights (including software, photographs and videos), if to do so would infringe the intellectual property rights of the owner or any other person with intellectual property rights in the materials.</li>
                            <li>5.2 You are responsible for all of the content and information that you post on the Website (User Content). You grant us a non-exclusive, irrevocable, transferable, sub-licensable, royalty-free, worldwide licence to use the User Content for any lawful purpose. You represent and warrant to us that you own or have the right to use and reproduce (and licence to us) all User Content that you post on the Website.</li>
                            <li>5.3 Unless we notify you otherwise in writing, you are not authorised to use any of our trade marks, or the trade marks of any Education Provider.</li>
                            <li>5.4 We do not accept responsibility for material linked to or otherwise accessible through the Website. We do not review independent websites or control their content, but merely provides these links to you for your convenience. These links are not an endorsement of products, services, or information provided by such websites. Further, the inclusion of these links to other sites does not imply that the owners or operators of those other websites have given permission for inclusion of these links, or that there is any relationship between us and the linked websites. You acknowledge that you use links on the Website at your own risk.</li>
                            <li>5.5 All content and other materials available on the Website are owned by or licensed to us and are protected by Australian intellectual property rights. You agree to abide by all copyright notices and other restrictions contained in the Website and in materials accessed through the Website. We grant you a non-exclusive, non-transferable licence to access and use the Websites for personal, educational and non-commercial use as permitted by these Terms.</li>
                            <li>5.6 You must not modify, copy, reproduce, republish, or display any content from the Website and represent it as your own (including by framing pages from the Website), upload to a third party, post, transmit or distribute this content in any way except as permitted by law or expressly provided for on the Website or expressly authorised in writing by us and, where relevant, any third party owner or rights holder.</li>
                        </ul>
                    </li>
                    <li>
                        <b>Posting on the Website</b>
                        <ul>
                            <li>6.1 You acknowledge and agree that all User Content (including your screen name) that (subject to any privacy controls as may be offered on the Website and that you may select from time to time) you post to the Website will be publicly available. Publicly available content may be viewed by other users of the Website, and may also show up on public search engines such as google and yahoo.</li>
                            <li>6.2 The Website includes forums containing the personal opinions and expressions of persons who use the Website to post entries on a range of topics. Such opinions, expressions and other content published by users of the Website may not be screened, moderated or reviewed by us and, in no circumstances, are approved or endorsed by us.</li>
                            <li>6.3 By posting to or viewing forums on the Website, you agree that we are not responsible or liable for the content of any postings.</li>
                            <li>6.4 You agree that you will not upload or post any of the following content (Prohibited Content) anywhere on the Site:
                                <ul>
                                    <li>a) confidential information or other information that you do not have the right to disclose (whether under contractual obligation or otherwise);</li>
                                    <li>b) content that may be misleading or deceptive;</li>
                                    <li>c) advertising, marketing or promotional material, or other unauthorised commercial communications (such as spam);</li>
                                    <li>d) content which you do not have the right to upload, post, email or otherwise transmit, such as content which is protected by copyright, patent, trade mark, service mark or any other proprietary right (unless you have express, written permission from the owner and, where applicable, include appropriate acknowledgement);</li>
                                    <li>e) material which contains a virus or other harmful (or potentially harmful) code;</li>
                                    <li>f) content that defames, harasses, bullies or threatens others (this includes language which is lewd, aggressive, insulting, racist, sexually explicit, threatens bodily harm / death, general serious threat, planting statements to provoke third party stalking harassment);</li>
                                    <li>g) content that discusses illegal activities, with the intent to commit (or encourage others to commit) such illegal activities;</li>
                                    <li>h) content that contains obscene or offensive language or images (such as pornography or nudity);</li>
                                    <li>i) content that is unlawful;</li>
                                    <li>j) content that is otherwise harmful (or potentially harmful) to us or other users of the Website.</li>
                                </ul>
                            </li>
                            <li>6.5 We reserve the right to remove any content (not only Prohibited Content) from a forum in our sole discretion, but are not required to do so. If we do remove content you have posted, we may not notify you we have done so. You acknowledge that we do not screen or moderate all content posted to the Website by users.</li>
                            <li>6.6 You must not alter, damage or delete any content on the Website of which you are not the author, unless you have express permission from the author to do so.</li>
                        </ul>
                    </li>
                    <li>
                        <b>Privacy</b>
                        <ul>
                            <li>7.1 Your privacy is very important to us.</li>
                            <li>7.2 These Terms must be read in conjunction with our Privacy Policy. We undertake to comply with the terms of our Privacy Policy.</li>
                            <li>7.3 You acknowledge and agree that personal information, health information and sensitive information you submit to us on the Website will be handled by us in accordance with the Privacy Policy, applicable laws and the terms set out in this section.</li>
                            <li>7.4 By setting up a Personal Account, grant us an ongoing consent to promote and market our products and services and to make other offers to you (including by email). You acknowledge that this consent continues indefinitely until such time as you expressly withdraw it. If you do not wish us to contact you or you would like us to stop contacting you for promotional or marketing purposes, please contact us using the contact details set out in our Privacy Policy. You agree that as a holder of a Personal Account, you will be automatically added to our email newsletter for product and promotional updates. If you do not wish to receive these newsletters, you will be given the option to unsubscribe in the newsletter.</li>
                            <li>7.5 Please refer to ‘How do we use your information’ for further information about what we do with information that we collect about you.</li>
                        </ul>
                    </li>
                    <li>
                        <b>Disclaimers and limitations of liability</b>
                        <ul>
                            <li>8.1 The Website and the Services are provided at no charge and on an ‘as is’ basis. You acknowledge and agree that any access to or use of the Website (including undertaking the SelfStudyCampus Courses) is at your own risk.</li>
                            <li>8.2 We do not make any representations or warranties about the availability, functionality or performance of the Website or the Services or the accuracy, completeness or currency of any of the content or data accessible through the Website.</li>
                            <li>8.3 To the maximum extent permitted by law, we exclude all conditions and warranties (express or implied) in relation to the Website and the Services, including all implied conditions and warranties of merchantability, satisfactory quality, fitness for any particular purpose and non infringement, except for any condition or warranty implied by law, the exclusion of which would contravene any statute or cause any part of this term to be void (non excludable condition). Our liability for a non excludable condition is limited, at our option, to refunding the price of the goods or services in respect of which the breach occurred or providing, replacing or repairing those goods or providing those services again.</li>
                            <li>8.4 In no circumstances will we be liable to you for an indirect, consequential or special damages, including loss of revenue or anticipated profits, loss of goodwill, loss of business or loss of data.</li>
                            <li>8.5 Except as stated in these Terms and to the maximum extent permitted by law, we exclude all liability, whether in contract, tort (including negligence) or under statute, arising from or connected with these Terms or the operation or use of the Website or the Services. Our maximum aggregate liability to you arising from or connected with these Terms or the operation or use of the Website or the Services that is not already limited under this section will not exceed $AUD100.00 in the aggregate.</li>
                            <li>8.6 We are not responsible for the conduct, actions or information of any user of the Website or any other third party, and you release us from any liability or claim you may have against such persons.</li>
                            <li>8.7 You indemnify and agree to keep us indemnified from and against all damages, losses and expenses of any kind (including legal costs) incurred by us in connection with any claim made against us by a person in connection with your actions in accessing or using the Website or the Services or your User Content.</li>
                        </ul>
                    </li>
                    <li>
                        <b>General</b>
                        <ul>
                            <li>9.1 We may terminate these Terms and stop providing the Website and the Services to you at any time for any reason in our sole discretion. Clauses 5.2, 7, 8 and this clause 9 survive the termination of these Terms and may be enforced by us at any time.</li>
                            <li>9.2 The Terms make up the entire agreement between us regarding the Website, and supersedes any prior agreements.</li>
                            <li>9.3 The Website is managed by Open Universities Australia Pty Ltd, located in Victoria, Australia. You agree that any matter or dispute arising out of or in connection with these Terms or the Website (including any content posted on the Website) will be governed by the laws of Victoria, Australia. You consent to the exclusive jurisdiction and venue of the courts of Victoria, Australia to determine any such dispute.</li>
                            <li>9.4 If any part of the Terms is found to be unenforceable, the remaining parts will remain in full force and effect.</li>
                            <li>9.5 If we fail to enforce any of these Terms, it will not be considered a waiver. Any amendment to or waiver of these Terms must be made in writing and signed by us.</li>
                            <li>9.6 You will not transfer any of your rights and obligations under these Terms to anyone else without our consent. All of our rights and obligations under these Terms are freely assignable by us.</li>
                            <li>9.7 Nothing in these Terms will prevent us from complying with any law.</li>
                            <li>9.8 You must comply with all applicable laws when using or accessing the Website.</li>
                            <li>9.9 If we consider that you have breached any of the Terms, and the breach justifies it, we may undertake our own investigations and inform relevant law enforcement agencies.</li>
                            <li>9.10 Without limiting any other term in these Terms, we may at any time in our discretion (and without notice):
                                <ul>
                                    <li>a) alter or withdraw any functionality on the Website;</li>
                                    <li>b) withdraw or suspend your access to all or any part of the Website, or to your Personal Account;</li>
                                    <li>c) monitor your use of the Website;</li>
                                    <li>d) subject to any applicable laws, treat any User Content as non-confidential and non-proprietary; or</li>
                                    <li>e) edit or remove any User Content.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>Complaints</b>
                        <ul>
                            <li>10.1 If you have any questions or complaints regarding the Website or the Services (or any issue connected with them) please let us know using the methods available from time to time on the Website (including through the community forums).</li>
                            <li>10.2 If you see something on the Website that you believe breaches these Terms, you should let us know by flagging the content. Please note that reporting content does not guarantee that it will be removed from the Website.</li>
                        </ul>
                    </li>
                </ol>
                <hr />
        </div>
    </div>
</div>

{% endblock %}