{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Account Details{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
                <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" aria-current="page">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/account/">
                <span>Account</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
    </ol>
</nav>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-lg-4">
    <br /><br />
    <div class="card" style="padding: 15px !important;">
        <div class="card-block" id="register">
            <h4 class="card-title" style="color: rgb(235,148,79)">Account Details</h4>
            {% csrf_token %}

            <div class="form-group">
                <label>Email address</label>
                <input type='email' value="{{user.email}}" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter email" readonly>
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input type='text' value="{{user.first_name}}" class="form-control" name="password" placeholder="Enter Password" readonly>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type='text' value="{{user.last_name}}" class="form-control" name="password" placeholder="Enter Password" readonly>
            </div>
            <span class="float-right"><a href="/account/edit">Edit your details</a></span>
        </div>
    </div>
        </div>

    </div>
</div>


{% endblock %}