{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}

<div class="container">
    <br />
    <br />
    <div class="row justify-content-md-center">
        <div class="col-12 col-lg-4" style="margin-bottom:180px;">
        <div class="card" style="padding: 15px !important;">
            <div class="card-body" id="register">
                <h4 class="card-title" style="color: rgb(235,148,79)">Success</h4>
                <p>You password has been reset. <a href="/login/">Login</a></p>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}