{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <br />
    <br />
    <div class="row justify-content-md-center">
        <div class="col-12 col-lg-4">
        {% if messages %}
            {% for message in messages %}
            <p class="text-danger">{{message}}</p>
            {% endfor %}
        {% endif %}
        {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
                {{error}}
            {% endfor %}
        {% endif %}
        {% if form.new_password1.errors %}
        {% for error in form.new_password1.errors %}
            {{error}}
        {% endfor %}
    {% endif %}
        {{ form.non_field_errors }}
    <div class="card" style="padding: 15px !important;">
        <div class="card-body" id="register">
            <h4 class="card-title" style="color: rgb(235,148,79)">Create New Password</h4>
            <form id="submit-form" method="post" action="">
            {% csrf_token %}

            <div class="form-group" id="forPassword">
                <label>New Password</label>
                {{ form.new_password1.errors }}
                <input type="password" class="form-control" name="new_password1" id="password" placeholder="create password" required>
                <div class='form-control-feedback d-none'>
                    <ul>
                        <li>Your password must be atleast 8 characters</li>
                        <li>Contain at least 1 lower case and 1 uppercase character</li>
                        <li>And one special character eg. '?=.[!@#\$%\^&]'</li>
                    </ul>
                </div>
                </div>
                <div class="form-group" id="forConfirmPassword">
                    <label>Confirm New Password</label>
                    {{ form.new_password2.errors }}
                    <input type="password" class="form-control" name="new_password2" id="confirmPassword" placeholder="confirm password" required>
                    <div class='form-control-feedback d-none'>Your passwords don't match</div>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary" id="submitBtn">Reset Password</button>
                </div>
            </form>

        </div>
    </div>
        </div>

    </div>
</div>

{% endblock %}

{% block scripts%}
<script src="{% static 'vendor/assets/js/password_reset.js' %}"></script>
{% endblock %}