{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Request Sent{% endblock %}
{% block content %}

<div class="container">
    <br />
    <br />
    <div class="row justify-content-md-center">
        <div class="col-12 col-lg-4">
        {% if messages %}
            {% for message in messages %}
            <p class="text-danger">{{message}}</p>
            {% endfor %}
        {% endif %}
        <div class="card" style="padding: 15px !important;">
            <div class="card-body" id="register">
                    <h4 class="card-title" style="color: rgb(235,148,79)">Request Sent</h4>
                <p>If the requested account exists an email has been sent to the provided email address.</p>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}