{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Edit Account Details{% endblock %}
{% block styles %}

{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
                <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/account/">
                <span itemprop="name">Account</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" aria-current="page">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/account/edit/">
                <span>Edit</span>
            </a>
            <meta itemprop="position" content="3" />
        </li>
    </ol>
</nav>

<div class="d-none">
    {% for field in form %}
        {{field}}
    {% endfor %}
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card" style="padding: 15px !important;">
                <div class="card-block" id="register">
                    <h1 class="card-title" style="color: rgb(235,148,79)">Change Account Details</h1>
                    <p style="color: #000000;">Edit the fields that you want to change.</p>
                    <p>
                        {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    </p>
                    <form class="register-form" action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group" id="forFirstName">
                            <label>First Name</label>
                            <input type="text" value="{{user.first_name}}" class="form-control" name="firstName" id="firstName" placeholder="first name" required>
                            <div class='form-control-feedback d-none'>This field can't be less than 2 characters</div>
                        </div>
                        <div class="form-group" id="forLastName">
                            <label>Last Name</label>
                            <input type="text" value="{{user.last_name}}" class="form-control" name="lastName" id="lastName" placeholder="last name" required>
                            <div class='form-control-feedback d-none'>This field can't be less than 2 characters</div>
                        </div>
                        <div class="form-group" id="forEmail">
                            <label>Email Address</label>
                            <input type="email" value="{{user.email}}" class="form-control" name="emailAddress" id="emailAddress" placeholder="email address" aria-describedby="emailHelpBlock" required>
                            <div class='form-control-feedback d-none'>This email address is not valid</div>
                            <small id="emailHelpBlock" class="form-text text-warning">
                                Warning: Changing this field will also change your portal login email.
                            </small>
                        </div>
                        <div class="form-group" id="forPassword">
                            <label>Create Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="create password" >
                            <small id="emailHelpBlock" class="form-text text-warning">
                                    Warning: Leave this field blank if you are keeping your current password.
                            </small>
                            <div class='form-control-feedback d-none'>
                                <ul>
                                    <li>Your password must be atleast 8 characters</li>
                                    <li>Contain at least 1 lower case and 1 uppercase character</li>
                                    <li>And one special character eg. '?=.[!@#\$%\^&]'</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group" id="forConfirmPassword">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="confirm password" >
                            <div class='form-control-feedback d-none'>Your passwords don't match</div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary" id="submitBtn">Save Account Changes</button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="lds-css">
    <div class="lds-spinner" id="loader" style="width:100%;height:100%"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'vendor/assets/js/register-form-validate.min.js' %}"></script>
{% endblock %}
