{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Password Reset{% endblock %}
{% block content %}

<div class="container">
    <br />
    <br />
    <div class="row justify-content-md-center">
        <div class="col-12 col-lg-4">
        {% if messages %}
            {% for message in messages %}
            <p class="text-danger">{{message}}</p>
            {% endfor %}
        {% endif %}
    <div class="card" style="padding: 15px !important;">
        <div class="card-body" id="register">
            <h4 class="card-title" style="color: rgb(235,148,79)">Forgot Password</h4>
            <form id="submit-form" method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label>Enter your email address to request a password reset.</label>
                <input type='email' class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <input class="form-control btn btn-primary" type="submit" value="reset" />
            </div>
            </form>

        </div>
    </div>
        </div>

    </div>
</div>


{% endblock %}